In [19]:
import pandas as pd

In [20]:
animales = pd.Series(['perro', 'gato', 'conejo', 'caballo'],
          index = [1,2,3,4])
animales

1      perro
2       gato
3     conejo
4    caballo
dtype: object

In [21]:
pd.Series(['perro', 'gato', 'conejo', 'caballo'])

0      perro
1       gato
2     conejo
3    caballo
dtype: object

In [22]:
dict = {
  1: 'perro',
  2: 'gato',
  3: 'conejo',
  4: 'caballo',
}
pd.Series(dict)

1      perro
2       gato
3     conejo
4    caballo
dtype: object

In [23]:
dict = {
  'Animales': ['perro', 'gato', 'conejo', 'caballo'],
  "Velocidad" : [25.0,15.0,30.0,50.0],
  "peso" : [10,15,30,40],
  "unidad": ['lb','lb','lb','lb']
  }

In [24]:
indice = ['a','b','c','d']
df_animales = pd.DataFrame(dict,indice)
df_animales

  Animales  Velocidad  peso unidad
a    perro       25.0    10     lb
b     gato       15.0    15     lb
c   conejo       30.0    30     lb
d  caballo       50.0    40     lb

In [25]:
df_animales.columns

Index(['Animales', 'Velocidad', 'peso', 'unidad'], dtype='object')

In [26]:
df_animales.index

Index(['a', 'b', 'c', 'd'], dtype='object')